@import "tailwindcss";

:root {
  /* Replace this with your exact Figma Background Hex code */
  background-color: #030014; 
  color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

